@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    color:black;
    font-family: "Questrial", sans-serif;
    background: radial-gradient(#554562, #102246);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#titre{
    height: 50px;
    color:white;
    font-family: 'Press Start 2P';
}

h2{
    font-family: 'Orbitron';

}
/* Display none par défaut */
#TourOrdinateur,#tourSuivant, #fin, #gagne, #perdu, #egalite{
    display: none;
}

/* https://codepen.io/Gthibaud/pen/MqpmXE */
section{
    width:auto;
    height: auto;
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.btnJP {
    color:inherit;
    font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.btnJP:last-child {
    margin: 0;
}

.btnJP:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
}

.btnJP:active{
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

#btns{
  display: flex;
  align-content: space-between;
}