@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
    background: radial-gradient(#554562, #102246);
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: "Roboto";
    display: grid;
    grid-template-rows: 25% 1fr;
    margin: 0;
}
#score{
    display: flex;
    justify-content: center;
    align-items: center;
}
#choix{
    position: relative;
    width: 100vw;
}
.fond{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#choix > button{
    margin: 0 30px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: white;
    color: white;
    font-size: 30px;
    box-shadow: inset 0em 0.3em #ccccccA0;
    position: relative;
}
#choix > button > img{
    height: 75px;
    width: 75px;
}
#choix > button#pierre{
    border: 20px solid red;
    left: 75px;
    bottom: 125px;
}
#choix > button#feuille{
    border: 20px solid blue;
    right: 75px;
    bottom: 125px;
}
#choix > button#ciseaux{
    border: 20px solid orange;
    bottom: -100px;
}
#score .containerJoueur, #score .containerOrdi{
    border: 1px solid white;
    padding: 30px;
    border-radius: 5px;
    color: rgb(49, 49, 49);
    font-size: 30px;
    font-weight: 700;
    background-color: #fff;
}
#vs{
    font-size: 30px;
    font-weight: 700;
    margin: 20px;
    color: white;
}
#choix{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-container{
    display: block;
    position: fixed;
    margin: 50vh 0 0 50vw;
    transform: translateX(-50%) translateY(-50%);
    background-color: rebeccapurple;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 5px;
}
#popegal, #poploose, #popwin{
    display: none;
}

.global{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(106, 48, 147, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerglobal{
    background-color: rebeccapurple;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    border-radius: 10px;
    border: 5px solid white;
}
.containerglobal button{
    font-size: 20px;
    height: 200px;
    width: 200px;
}