@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#554562, #102246);
    font-family:"Press Start 2P";
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    margin: 0;
}
h1{
    font-size: 30px;
    color: white;
}
#demande{
    align-items: center;
    margin: 10px;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#message{
    width: 400px;
}
#reponse{
    color: white;
}