@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
#info{
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 75px;
    width: 75px;
    background-color: transparent;
    border: none;
}
#close{
    position: fixed;
    right: 20px;
    top: 5px;
    background-color: transparent;
    font-size: 50px;
    border: none;
}
#close > a, #closeNotice > a{
    text-decoration: none;
    color: white;
}

.notice{
    font-family:"Press Start 2P";
    word-spacing: -0.2rem;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: 3px solid black;
}

.notice.active{
    display: flex;
}

#closeNotice{
    position: fixed;
    right: 10px;
    top: 5px;
    background-color: transparent;
    font-size: 40px;
    border: none;
}

#closeNotice > a{
    color: black;
}